body{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: black;
    border-right: 2px solid rgba(255, 255, 255, 0.849);
    color: gray;
    max-width: 250px;
    height: 2500px;
}
nav header{
    padding: 20px;
}

nav a{
    border-top: 1px solid gray;
    color: #FFFFFF;
    display: block;
    padding: 15px;
    text-decoration: none;
}
main{
    color: #FFFFFF;
    background-color: #0052FF;
    flex: 1;
    

}
header{
    font-size: 20px;
    
    
}
section{
    padding: 25px;
}
pre{
    background: #FFFFFF;
    color: black;
    padding: 15px;
}
@media (max-width:600px){
    body{
        flex-direction: column;
    }
    nav{
        border-right: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.849);
        width: 100%;
        height: 400px;
    }
    main{
        height: auto;
        width: 100%;
    }
}
