body{
    background: #eb2f06;
    text-align: center;
    font-family: 'Popins',sans-serif;
    margin: 0;
}
h1{
    margin-bottom: 0;
}

form{
    background-color: white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 9px;
    max-width: 450px;
    margin: 40px auto;
    padding: 30px 20px;
}
.form-control{
    margin-bottom: 20px;
    text-align: left;

}
.form-control label{
    display: block;
    margin-bottom: 5px;


}
.form-control input,
.form-control select,
.form-control textarea{
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 15px;
    padding: 6px;
    display: block;
    width: 100%;
}

.form-control  [type="radio"], .form-control [type="checkbox"] {
    display: inline-block;
    width: auto;
}
button{
    background-color:#40407a;
    border: 1px solid #40407a;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    padding: 10px;
    width: 100%;

}

