body{
    margin: 0;
    background-color: #5b2c6f;

}
nav{
    background-color: #3449D1;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav a{
    color:  #03093A;
    margin: 0 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease 0s;
    
}
nav a:hover{
    color: #7C8AE4;
}
header{
    color: #FF5943;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 130vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)), url("background.jpg");
    background-size: cover;
}
header img{
    width: 10%;
    border: 0 solid  #FFFF;
    border-radius: 50%;
    transition: transform 0.5s ease;
}
header img:hover{
    transform: scale(1.2);  
    
}
header h1{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
}
header p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
section{
    padding: 20px;
    text-align: center;
}
section h2{
    margin-bottom: 0;
}
section p{
    margin-top: 0;
}
.background-projects{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFFF;
}
.projects-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.project-tile{
    margin: 50px;
    max-width: 300px;
    text-decoration: none;
    transition: transform 0.5s ease;
}
.project-tile:hover{
    transform: scale(1.2);
    
}
.project-tile p{
    font-size: 20px;
    font-family: cursive;
    color:  #0E2094;
    margin-top: 10px;
}
.project-tile img{
    max-width: 100%;
}
.social-media{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.social-media a{
    margin: 0 20px;
}
.background{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #24577F;
    color: #0C2038;
}
footer{
    background-color: #24577F;
    padding: 5px;
}
@media (max-width:1000px){
    header{
        background-size: 100%;
    }
    header h1{
        font-size: 30px;
    }
    header p{
        font-size: 15px;
        
    }
    footer {
        background-color: #0C2038;
        padding: 10px;
    }
    
}

